
<!DOCTYPE html>
<html>
<body>

    <div class="about" style="width: 50%">

        <h1>O projekcie</h1>
        <hr />
        <br />

        <p> <b>Projekt zaliczeniowy studiów podyplomowych z projektowania aplikacji webowych, rok akademicki: 2021/22 </b> </p>
        <p> <b>Autor:</b> Konrad Wesołowski </p>
        <p> <b>E-mail:</b> wesolowski.konrad@outlook.com </p>

        <br />

        <p> Niniejsza aplikacja roboczo nazwana "Roomie" została stworzona na zasadach aplikacji E-commerce, w których użytkownik po stworzeniu konta ma możliwość publikowania oraz przeglądania ogłoszeń umieszczonych przez inne osoby. </p>
        <p> <b>Funkcjonalności:</b> </p>
        <dl>
            <dt> - Rejestrowanie nowego użytkownika z hashowanie hasła </dt>
            <dt> - Logowanie się użytkowników już zarejestrowanych </dt>
            <dt> - Przeglądanie ogłoszeń dodanych przez innych użytkowników </dt>
            <dt> - Wyszukowanie ogłoszen na podstawie interesujących nas kryteriów </dt>
            <dt> - Dodawanie własnych ogłoszeń z wieloma zdjęciami </dt>
            <dt> - Wyświetlanie tylko dodanych przez nas ogłoszeń z opcją ich usuwania </dt>
            <dt> - Edytowanie naszych danych jako użytkownik </dt>
        </dl>

        <p> Aplikacja została stworzona we wzorcu architektonicznym MVC / Model - View - Controller /  przy użyciu języków: C#, HTML, CSS, JavaScript, do stworzenia i obsługi bazy danych użyty został język SQL oraz oprogramowanie Microsoft SQL Server </p>
    </div>


</body>
</html>